$navtextBg: #D1D1D1;
$font: 'Bruno Ace SC', cursive;
$lrGreen: #00FFA3;
$hover:#9094FFE5;

$grid1:86px;
body {
    font-family: $font;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.navbox {
    background-color: #000;
    color: $navtextBg ;
    font-size: 16px;
    a{
        color: $navtextBg;
    &:hover{
        text-shadow: 0px 0px 5px #fff;
    }
    }

    ul {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;

        li {
            max-width: 306px;
        }
    }
}

.banner {
    background-color: #000;

    .flex {
        display: flex;
        align-items: center;
    }

    .title {
        h1 {

            font-size: 64px;
            color: #fff;

            span {
                color: $lrGreen;
                font-size: 150px;
            }
        }

        button {
            background-color: #fff;
            color: #000;
            border-radius: 32px;
            font-size: 16px;
            padding: 12px 24px;
            display: block;
            margin-left: auto;

            span {
                vertical-align: middle;
                margin-left: 4px;
            }
            &:hover{
                box-shadow: 0px 0px 20px #fff;
            }
        }

    }
}

.intro {
    background-image: url('/img/sea.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 160px 0px;

    .text {
        width: 526px;

        h3 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
        }
    }

}

.aboutMe {
    margin: 160px auto;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 636px;
        height: 328px;
        margin-right: 134px;

        li {
            width: calc((636px - 24px)/2);
            padding: 16px;
            border: 1px solid #E3E3E3;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, .08);

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }

        }

    }

    .text {
        width: 526px;
        h3 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
        }
    }
}

.contactMe{
    background:linear-gradient(#050014,#01021E);
    color: #fff;
    padding: 96px 0px;
    h3{
        font-size: 64px;
    }
    span{
        vertical-align: middle;
        font-size: 64px;
    }
    img{
        width: 162px;
        height: 162px;
        margin-left: 20px;

        &:hover{
            border-radius: 40px;
            animation-name: hover01 ;
            animation-duration:.3s;
            animation-fill-mode:forwards;
        }
        @keyframes hover01 {
        to { box-shadow: 0px 0px 12px $hover;}
    }
    }



    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.projects{
    padding: 160px 0px;
    h3{
        width: 746px;
        font-size: 64px;
        text-align: left;
        display: block;
        margin-left: auto;
    }
    
        img{
            width: 416px;
        }
    
    .more{
        width: 856px;
        button{
            background-color: #000;
            color: #fff;
            border-radius: 32px;
            padding: 12px 24px;
            margin-top: 76px;
            span{
                vertical-align: middle;
            }
            &:hover{
                box-shadow: 0px 0px 20px #fff;
            }
        }
    }
    .rectangle{
        img{
            width: 306px;
        }
    .w526{
    width: 526px;
}        
    }

}

.footer{
    background-color: #000;
    color: #fff;
    padding: 40px 0px;
    p{
        font-size: 16px;
        text-align: center;
    }
}

.mb-16{
    margin-bottom: 16px;
}
.mb-36{
    margin-bottom: 36px;
}
.mr-24 {
    margin-right: 24px;
}

.mb-24 {
    margin-bottom: 24px;
}
.mr-20 {
    margin-right: 20px;
}